/*naming conventions: BEM
B-block: stick-man
E-element: stick-man__head
M-modifier: stick-man__head-green
*/

$green-button: #31be7c;
$text-color: #898a93;
$bg-color: #2e3035;
/*HTML*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
}

/*header*/
header {
  margin: 0;
  padding: 0;
}
.header__container {
  position: fixed;
  background-color: #171544;
  z-index: 10;
  margin: 0;
  padding: 15px 5px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ebebef;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.header__logo {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 24px;
  align-self: center;
}

.header__cont-left,
.header__cont-right,
.header__searchbar {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}

.header__cont-left,
.header__cont-right {
  width: 30%;
}

.header__searchbar {
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: #454469;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  height: 40px;
  margin: 0 -15px;
  &:focus {
    outline: none;
  }
}

.header__cont-searchbar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-magnifying-glass {
  position: relative;
  left: -20px;
}

.header__cont-left {
  float: left;
  & p,
  button,
  span {
    padding: 10px 10px;
  }
}
.header__btn {
  display: flex;
  align-items: center;
  margin: 5px;
  background-color: $green-button;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  align-self: center;
  width: 130px;
  border: none;
  font-size: 14px;
}

.fa-solid {
  margin-right: 7px;
}

.header__cont-right {
  justify-content: space-between;
  & p,
  button {
    padding: 10px 10px;
  }
}

.header__btn-adfree {
  background-color: $green-button;
  border-radius: 5px;
  font-weight: 800;
  color: white;
  align-self: center;
  width: 130px;
  border: none;
}

.header__cont-right button {
  text-align: center;
  justify-content: center;
}

.header__signin {
  align-self: center;
}

.purple {
  background-color: #6432f9;
}

/*hero-banner*/
.hero__container {
  background-color: #171544;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: #aed8ea;
  margin-top: 80px;
  padding: 30px 0;
}

/*tags*/
.tags__container {
  // border: solid 3px red;
  width: 90%;
  height: 260px;
  overflow: hidden;
  color: #9190a6;
}

.hide-title {
  display: none;
}

.show-title {
  display: block;
}

.show {
  width: 90%;
  overflow: visible;
  color: #9190a6;
}

.tags__cont-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tag-pic {
  height: 90px;
  margin: 5px;
  border-radius: 3px;
}

.tag-cont {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-pic {
  width: 100%;
  margin: 0;
}

.tag-text {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  margin: 0;
  padding: 0;
}

.tag-title {
  color: white;
  padding: 5px;
  text-align: center;
}

.one-tag {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tag-cont:hover {
  position: relative;
  top: -5px;
}

.tag-cont {
  height: 200px;
}

.more {
  cursor: pointer;
}

/*cards*/
.cards__cont-top {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  padding: 0 10px;
  color: #9190a6;
}
.popular::after,
.viral::after {
  content: " ▽";
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 20px auto 70px;
  justify-content: space-evenly;
}

.card {
  width: 230px;
  background-color: #67686f;
  margin: 10px;
  border-radius: 3px;
  object-fit: scale-down;
}

.card-image {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.card-image:hover {
  opacity: 0.5;
}

.card-title {
  text-align: left;
  padding: 0 20px;
  margin: 10px 0;
  color: white;
}

.card-caption {
  display: flex;
  flex-direction: column;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: $text-color;
  font-weight: 600;
  font-size: 0.75em;
}

.card-review::before {
  content: "\021E7";
  margin: 0 5px;
}

.card-review::after {
  content: "\021E9 ";
  margin: 0 5px;
}

.card-index::before {
  content: "\01F441";
  margin: 0 5px;
}

.card-comments::before {
  content: "\01F4AC";
  margin: 0 5px;
}

.select__box {
  outline: none;
  border: none;
  font-size: 1.17em;
  font-weight: bold;
  color: $text-color;
  background-color: $bg-color;
  text-align: start;
}

summary {
  display: flex;
  top: -40px;
  position: relative;
  top: 20px;
  padding: 10px 0;
}

ul {
  position: absolute;
  z-index: 2;
  background-color: #53565d;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

li {
  list-style: none;
}

li h3 {
  margin: 10px 0;
}

/*footer*/
.dot {
  width: 8px;
  height: 8px;
  background-color: $text-color;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.footer__container {
  display: flex;
  // position: fixed;
  // transition: 0.5s;
  bottom: 0;
  background-color: #33353b;
  box-shadow: 2px -6px 8px -2px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: fit-content;
  font-size: 0.75em;
  color: $text-color;
}
.sticky {
  position: fixed;
}

.left__cont {
  width: 15%;
}

.a__cont {
  width: 65%;
  align-items: center;
}

.right__cont {
  width: 20%;
}

.footer__copy {
  text-align: center;
}

.a__cont nav {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.footer__a {
  color: $text-color;
  text-decoration: none;
}

.right__cont {
  display: flex;
}

.dots {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  width: 70%;
  color: white;
  background-color: #474a51;
  text-align: center;
}
